The questions:

Have suicide rates increased over the last 30 years? 
Taking a snapshot in 2015, what are the most suicide-prone countries in the world?
What is the difference between male and female suicide ratios?

The dataset "Suicide Rates Overview 1985 to 2016" by the World Bank compares socio-economic info with suicide rates. Downloaded from Kaggle. It is has 27.8k X 12 columns: country, year, sex, age group, count of suicides, population, suicide rate, country-year composite key, HDI for year, gdp_for_year, gdp_per_capita, generation (based on age grouping average). The population includes info for 15 years old or older, which is the minumum age at which the study looked for its statistics. 

For sake of simplicity I have averaged the suicide rate in years 1995 and 2015 to generate charts on those years.

In [112]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [39]:
df = pd.read_csv('/Users/carandu/thinkful_projects/capstone_1/master.csv')
df = df.drop('HDI for year', 1)

In [113]:
#create new dataframes for years 1995 and 2015
df_1995 = df[df['year'] == 1995]
df_2015 = df[df['year'] == 2015]

In [119]:
df_1995.head(10)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation
72,Albania,1995,male,25-34 years,13,232900,5.58,Albania1995,"2,424,499,009",835,Generation X
73,Albania,1995,male,55-74 years,9,178000,5.06,Albania1995,"2,424,499,009",835,Silent
74,Albania,1995,female,75+ years,2,40800,4.90,Albania1995,"2,424,499,009",835,G.I. Generation
75,Albania,1995,female,15-24 years,13,283500,4.59,Albania1995,"2,424,499,009",835,Generation X
76,Albania,1995,male,15-24 years,11,241200,4.56,Albania1995,"2,424,499,009",835,Generation X
77,Albania,1995,male,75+ years,1,25100,3.98,Albania1995,"2,424,499,009",835,G.I. Generation
78,Albania,1995,male,35-54 years,14,375900,3.72,Albania1995,"2,424,499,009",835,Boomers
79,Albania,1995,female,25-34 years,7,264000,2.65,Albania1995,"2,424,499,009",835,Generation X
80,Albania,1995,female,35-54 years,8,356400,2.24,Albania1995,"2,424,499,009",835,Boomers
81,Albania,1995,male,5-14 years,6,376500,1.59,Albania1995,"2,424,499,009",835,Millenials

I will find the top 20 countries with the highest suicide rate in 1995.

In [125]:
#df_1995_by_country = df_1995.groupby('country')
#df_1995_by_country.head(20)
#df_1995_by_country.groupby(['suicides_no']).sum()
#total_suicides_1995 = df_1995_by_country.groupby('country', as_index=False).mean()
df_2015.shape

(744, 11)

In [115]:

country_1995 = df_1995.groupby('country').apply(np.sum)
suicides_per_100K_1995 = (country_1995['population'] / country_1995['suicides_no']) * 100000
country_1995['suicides_per_100K_1995'] = suicides_per_100K_1995
country_1995[['suicides_no', 'population', 'suicides_per_100K_1995']]
#country_1995.head()

                              suicides_no  population  suicides_per_100K_1995
country
Albania                                88     2903400            3.299318e+09
Antigua and Barbuda                     0       66846                     inf
Argentina                            2204    31345400            1.422205e+09
Armenia                               130     3443200            2.648615e+09
Aruba                                   8       73581            9.197625e+08
Australia                            2170    16766300            7.726406e+08
Austria                              1788     7477030            4.181784e+08
Azerbaijan                             49     6605900            1.348143e+10
Bahamas                                 2      254500            1.272500e+10
Barbados                               17      241200            1.418824e+09
Belarus                              3203     9673600            3.020169e+08
Belgium                              2155     9527100            4.420928e+08
Belize                                 14      180500            1.289286e+09
Brazil                               6536   144783591            2.215171e+09
Bulgaria                             1433     7983900            5.571458e+08
Canada                               3968    27618500            6.960307e+08
Chile                                 930    12897643            1.386843e+09
Colombia                             1150    33090899            2.877469e+09
Costa Rica                            209     3135200            1.500096e+09
Croatia                               929     4497400            4.841119e+08
Cuba                                 2222    10168400            4.576238e+08
Czech Republic                       1733     9744300            5.622793e+08
Denmark                               924     4889100            5.291234e+08
Ecuador                               546     9960563            1.824279e+09
El Salvador                           620     4836397            7.800640e+08
Estonia                               594     1356651            2.283924e+08
Finland                              1388     4781300            3.444741e+08
France                              11819    54528500            4.613631e+08
Georgia                               138     4410850            3.196268e+09
Germany                             12888    77547500            6.017031e+08
...                                   ...         ...                     ...
Mauritius                             147      981900            6.679592e+08
Mexico                               2877    79927100            2.778140e+09
Netherlands                          1511    14474000            9.579087e+08
New Zealand                           545     3373800            6.190459e+08
Norway                                548     4055900            7.401277e+08
Paraguay                              118     4076758            3.454880e+09
Poland                               5499    36104900            6.565721e+08
Portugal                              809     9473844            1.171056e+09
Puerto Rico                           289     3375154            1.167873e+09
Qatar                                   0      463449                     inf
Republic of Korea                    4841    42076400            8.691675e+08
Romania                              2793    21451300            7.680380e+08
Russian Federation                  60548   139087100            2.297138e+08
Saint Lucia                            10      129466            1.294660e+09
Saint Vincent and Grenadines            7       95974            1.371057e+09
Singapore                             364     2765300            7.596978e+08
Slovakia                              735     5005232            6.809839e+08
Slovenia                              564     1884000            3.340426e+08
Spain                                3157    37275300            1.180719e+09
Suriname                               55      389414            7.080255e+08
Sweden                               1348     8233000            6.107567e+08
Switzerland                          1419     6617500            4.663495e+08
Thailand                             4245    54366057            1.280708e+09
Trinidad and Tobago                   184     1149173            6.245505e+08
Turkmenistan                          244     3818200            1.564836e+09
Ukraine                             14541    48415300            3.329572e+08
United Kingdom                       4315    54746964            1.268759e+09
United States                       31272   243164200            7.775780e+08
Uruguay                               427     2943816            6.894183e+08
Uzbekistan                           1485    19599000            1.319798e+09

[78 rows x 3 columns]

In [122]:
#country_2015 = df_2015.groupby('country', as_index=False).sum()
country_2015 = df_2015.groupby('country').apply(np.sum)
suicides_per_100K_2015 = (country_2015['population'] / country_2015['suicides_no']) * 100000
country_2015['suicides_per_100K_2015'] = suicides_per_100K_2015
country_2015[['suicides_no', 'population', 'suicides_per_100K_2015']]
#country_1995.head()

                              suicides_no  population  suicides_per_100K_2015
country
Antigua and Barbuda                     1       91889            9.188900e+09
Argentina                            3073    39699624            1.291885e+09
Armenia                                74     2795335            3.777480e+09
Australia                            3027    22240785            7.347468e+08
Austria                              1251     8219386            6.570253e+08
Belgium                              1867    10624356            5.690603e+08
Belize                                 26      319835            1.230135e+09
Brazil                              11163   191087085            1.711790e+09
Chile                                1838    16565725            9.012908e+08
Colombia                             2332    44490427            1.907823e+09
Croatia                               739     4001669            5.414978e+08
Cuba                                 1511    10832068            7.168807e+08
Cyprus                                 40      796037            1.990092e+09
Czech Republic                       1387     9989325            7.202109e+08
Denmark                               564     5383060            9.544433e+08
Ecuador                              1073    14534024            1.354522e+09
Estonia                               195     1243450            6.376667e+08
Finland                               731     5181797            7.088642e+08
Georgia                               192     3458400            1.801250e+09
Germany                             10088    78136683            7.745508e+08
Greece                                529    10331286            1.952984e+09
Grenada                                 0       96892                     inf
Guatemala                             494    14258397            2.886315e+09
Hungary                              1868     9389519            5.026509e+08
Iceland                                40      308554            7.713850e+08
Israel                                342     7516180            2.197713e+09
Italy                                3988    58117697            1.457314e+09
Japan                               23092   120376310            5.212901e+08
Kazakhstan                           2872    15646752            5.448033e+08
Kyrgyzstan                            417     5195827            1.246002e+09
...                                   ...         ...                     ...
Luxembourg                             64      537748            8.402312e+08
Malta                                  34      410637            1.207756e+09
Mauritius                             104     1154848            1.110431e+09
Mexico                               6234   114357884            1.834422e+09
Netherlands                          1873    16057342            8.573060e+08
Nicaragua                             315     5476483            1.738566e+09
Norway                                590     4882909            8.276117e+08
Panama                                110     3583382            3.257620e+09
Poland                               5420    36086575            6.658040e+08
Puerto Rico                           226     3469521            1.535186e+09
Qatar                                  66     2354147            3.566889e+09
Republic of Korea                   13510    48671752            3.602646e+08
Romania                              2228    18863927            8.466754e+08
Russian Federation                  25432   137018943            5.387659e+08
Saint Vincent and Grenadines            3      100948            3.364933e+09
Serbia                               1062     6766406            6.371380e+08
Seychelles                              7       85949            1.227843e+09
Singapore                             329     3719115            1.130430e+09
Slovenia                              422     1954632            4.631829e+08
South Africa                          482    49627460            1.029615e+10
Spain                                3604    44186528            1.226041e+09
Sweden                               1182     9114524            7.711103e+08
Switzerland                          1073     7892502            7.355547e+08
Thailand                             4205    61261276            1.456867e+09
Turkey                               1532    71880464            4.691936e+09
Turkmenistan                          133     4886514            3.674071e+09
Ukraine                              7574    40345446            5.326835e+08
United Kingdom                       4910    61082942            1.244052e+09
United States                       44189   300078511            6.790797e+08
Uruguay                               630     3190795            5.064754e+08

[62 rows x 3 columns]

In [132]:
df_1995.groupby(['country', 'sex'])['suicides_no'].sum()

country              sex
Albania              female       34
                     male         54
Antigua and Barbuda  female        0
                     male          0
Argentina            female      504
                     male       1700
Armenia              female       35
                     male         95
Aruba                female        0
                     male          8
Australia            female      459
                     male       1711
Austria              female      455
                     male       1333
Azerbaijan           female        7
                     male         42
Bahamas              female        0
                     male          2
Barbados             female        5
                     male         12
Belarus              female      514
                     male       2689
Belgium              female      605
                     male       1550
Belize               female        1
                     male         13
Brazil               female     1401
                     male       5135
Bulgaria             female      413
                     male       1020
                               ...
Singapore            female      138
                     male        226
Slovakia             female      126
                     male        609
Slovenia             female      129
                     male        435
Spain                female      749
                     male       2408
Suriname             female       13
                     male         42
Sweden               female      412
                     male        936
Switzerland          female      401
                     male       1018
Thailand             female     1145
                     male       3100
Trinidad and Tobago  female       39
                     male        145
Turkmenistan         female       52
                     male        192
Ukraine              female     2632
                     male      11909
United Kingdom       female      961
                     male       3354
United States        female     5914
                     male      25358
Uruguay              female      103
                     male        324
Uzbekistan           female      331
                     male       1154
Name: suicides_no, Length: 156, dtype: int64

In [139]:
df.groupby(['year', 'generation'])['suicides_no'].mean()

year  generation
1985  Boomers            216.364583
      G.I. Generation    211.927083
      Generation X        98.197917
      Silent             372.375000
1986  Boomers            225.885417
      G.I. Generation    220.937500
      Generation X        98.994792
      Silent             391.229167
1987  Boomers            206.564815
      G.I. Generation    215.356481
      Generation X        80.402778
      Silent             376.379630
1988  Boomers            217.673469
      G.I. Generation    228.316327
      Generation X        82.520408
      Silent             395.612245
1989  Boomers            282.951923
      G.I. Generation    276.394231
      Generation X        95.125000
      Silent             514.817308
1990  Boomers            275.593750
      G.I. Generation    266.085938
      Generation X        96.582031
      Silent             509.703125
1991  Boomers            406.207031
      G.I. Generation    163.015625
      Generation X       182.164062
      Millenials          11.976562
      Silent             377.460938
1992  Boomers            433.880769
                            ...
2010  Silent             237.434659
2011  Boomers            344.058140
      Generation X       496.191860
      Generation Z        10.924419
      Millenials         191.491279
      Silent             140.750000
2012  Boomers            360.759259
      Generation X       509.148148
      Generation Z        10.814815
      Millenials         194.151235
      Silent             151.716049
2013  Boomers            360.600000
      Generation X       501.418750
      Generation Z        11.287500
      Millenials         185.365625
      Silent             150.956250
2014  Boomers            369.846154
      Generation X       507.256410
      Generation Z        12.064103
      Millenials         190.413462
      Silent             159.391026
2015  Boomers            432.161290
      Generation X       574.983871
      Generation Z        13.556452
      Millenials         217.576613
      Silent             186.403226
2016  Boomers            147.343750
      Generation X       180.187500
      Millenials          51.015625
      Silent              58.031250
Name: suicides_no, Length: 146, dtype: float64