The questions:

Have suicide rates increased over the last 30 years? 
Taking a snapshot in 2015, what are the most suicide-prone countries in the world?
What is the difference between male and female suicide ratios?

The dataset "Suicide Rates Overview 1985 to 2016" by the World Bank compares socio-economic info with suicide rates. Downloaded from Kaggle. It is has 27.8k X 12 columns: country, year, sex, age group, count of suicides, population, suicide rate, country-year composite key, HDI for year, gdp_for_year, gdp_per_capita, generation (based on age grouping average). The population includes info for 15 years old or older, which is the minumum age at which the study looked for its statistics. 

For sake of simplicity I have averaged the suicide rate in years 1995 and 2015 to generate charts on those years.

In [38]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [39]:
df = pd.read_csv('/Users/carandu/thinkful_projects/capstone_1/master.csv')
df = df.drop('HDI for year', 1)

In [42]:
df_1995 = df[df['year'] == 1995]
df_2015 = df[df['year'] == 2015]

In [47]:
df_1995.head(10)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation
72,Albania,1995,male,25-34 years,13,232900,5.58,Albania1995,"2,424,499,009",835,Generation X
73,Albania,1995,male,55-74 years,9,178000,5.06,Albania1995,"2,424,499,009",835,Silent
74,Albania,1995,female,75+ years,2,40800,4.90,Albania1995,"2,424,499,009",835,G.I. Generation
75,Albania,1995,female,15-24 years,13,283500,4.59,Albania1995,"2,424,499,009",835,Generation X
76,Albania,1995,male,15-24 years,11,241200,4.56,Albania1995,"2,424,499,009",835,Generation X
77,Albania,1995,male,75+ years,1,25100,3.98,Albania1995,"2,424,499,009",835,G.I. Generation
78,Albania,1995,male,35-54 years,14,375900,3.72,Albania1995,"2,424,499,009",835,Boomers
79,Albania,1995,female,25-34 years,7,264000,2.65,Albania1995,"2,424,499,009",835,Generation X
80,Albania,1995,female,35-54 years,8,356400,2.24,Albania1995,"2,424,499,009",835,Boomers
81,Albania,1995,male,5-14 years,6,376500,1.59,Albania1995,"2,424,499,009",835,Millenials

I will find the top 20 countries with the highest suicide rate in 1995.

In [59]:
#df_1995_by_country = df_1995.groupby('country')
#df_1995_by_country.head(20)
#df_1995_by_country.groupby(['suicides_no']).sum()
#total_suicides_1995 = df_1995_by_country.groupby('country', as_index=False).mean()

In [84]:
country_1995 = df_1995.groupby('country').apply(np.sum)
suicides_per_100K_1995 = (country_1995['population'] / country_1995['suicides_no']) * 100000
country_1995['suicides_per_100K_1995'] = suicides_per_100K_1995
country_1995[['suicides_no', 'population', 'suicides_per_100K_1995']]
#print(country_1995)df1 = df[['a','b']]

                              suicides_no  population  suicides_per_100K_1995
country
Albania                                88     2903400            3.299318e+09
Antigua and Barbuda                     0       66846                     inf
Argentina                            2204    31345400            1.422205e+09
Armenia                               130     3443200            2.648615e+09
Aruba                                   8       73581            9.197625e+08
Australia                            2170    16766300            7.726406e+08
Austria                              1788     7477030            4.181784e+08
Azerbaijan                             49     6605900            1.348143e+10
Bahamas                                 2      254500            1.272500e+10
Barbados                               17      241200            1.418824e+09
Belarus                              3203     9673600            3.020169e+08
Belgium                              2155     9527100            4.420928e+08
Belize                                 14      180500            1.289286e+09
Brazil                               6536   144783591            2.215171e+09
Bulgaria                             1433     7983900            5.571458e+08
Canada                               3968    27618500            6.960307e+08
Chile                                 930    12897643            1.386843e+09
Colombia                             1150    33090899            2.877469e+09
Costa Rica                            209     3135200            1.500096e+09
Croatia                               929     4497400            4.841119e+08
Cuba                                 2222    10168400            4.576238e+08
Czech Republic                       1733     9744300            5.622793e+08
Denmark                               924     4889100            5.291234e+08
Ecuador                               546     9960563            1.824279e+09
El Salvador                           620     4836397            7.800640e+08
Estonia                               594     1356651            2.283924e+08
Finland                              1388     4781300            3.444741e+08
France                              11819    54528500            4.613631e+08
Georgia                               138     4410850            3.196268e+09
Germany                             12888    77547500            6.017031e+08
...                                   ...         ...                     ...
Mauritius                             147      981900            6.679592e+08
Mexico                               2877    79927100            2.778140e+09
Netherlands                          1511    14474000            9.579087e+08
New Zealand                           545     3373800            6.190459e+08
Norway                                548     4055900            7.401277e+08
Paraguay                              118     4076758            3.454880e+09
Poland                               5499    36104900            6.565721e+08
Portugal                              809     9473844            1.171056e+09
Puerto Rico                           289     3375154            1.167873e+09
Qatar                                   0      463449                     inf
Republic of Korea                    4841    42076400            8.691675e+08
Romania                              2793    21451300            7.680380e+08
Russian Federation                  60548   139087100            2.297138e+08
Saint Lucia                            10      129466            1.294660e+09
Saint Vincent and Grenadines            7       95974            1.371057e+09
Singapore                             364     2765300            7.596978e+08
Slovakia                              735     5005232            6.809839e+08
Slovenia                              564     1884000            3.340426e+08
Spain                                3157    37275300            1.180719e+09
Suriname                               55      389414            7.080255e+08
Sweden                               1348     8233000            6.107567e+08
Switzerland                          1419     6617500            4.663495e+08
Thailand                             4245    54366057            1.280708e+09
Trinidad and Tobago                   184     1149173            6.245505e+08
Turkmenistan                          244     3818200            1.564836e+09
Ukraine                             14541    48415300            3.329572e+08
United Kingdom                       4315    54746964            1.268759e+09
United States                       31272   243164200            7.775780e+08
Uruguay                               427     2943816            6.894183e+08
Uzbekistan                           1485    19599000            1.319798e+09

[78 rows x 3 columns]

In [36]:
dfsum = df_1995.groupby('country', as_index=False).mean()

In [37]:
dfsum.head(100)

,country,year,suicides_no,population,suicides/100k pop,gdp_per_capita ($)
0,Albania,1995.0,7.333333,2.419500e+05,3.379167,835.0
1,Antigua and Barbuda,1995.0,0.000000,5.570500e+03,0.000000,8636.0
2,Argentina,1995.0,183.666667,2.612117e+06,9.997500,8232.0
3,Armenia,1995.0,10.833333,2.869333e+05,4.315833,426.0
4,Aruba,1995.0,0.666667,6.131750e+03,25.709167,17949.0
5,Australia,1995.0,180.833333,1.397192e+06,12.932500,21902.0
6,Austria,1995.0,149.000000,6.230858e+05,29.007500,32237.0
7,Azerbaijan,1995.0,4.083333,5.504917e+05,1.190000,462.0
8,Bahamas,1995.0,0.166667,2.120833e+04,0.596667,13473.0
9,Barbados,1995.0,1.416667,2.010000e+04,6.024167,9378.0
10,Belarus,1995.0,266.916667,8.061333e+05,33.667500,1444.0
11,Belgium,1995.0,179.583333,7.939250e+05,23.825000,30394.0
12,Belize,1995.0,1.166667,1.504167e+04,11.997500,3436.0
13,Brazil,1995.0,544.666667,1.206530e+07,6.270000,5313.0
14,Bulgaria,1995.0,119.416667,6.653250e+05,23.154167,1636.0
15,Canada,1995.0,330.666667,2.301542e+06,13.626667,21871.0
16,Chile,1995.0,77.500000,1.074804e+06,9.075833,5695.0
17,Colombia,1995.0,95.833333,2.757575e+06,4.136667,2796.0
18,Costa Rica,1995.0,17.416667,2.612667e+05,6.598333,3672.0
19,Croatia,1995.0,77.416667,3.747833e+05,25.461667,4978.0
20,Cuba,1995.0,185.166667,8.473667e+05,29.396667,2993.0
21,Czech Republic,1995.0,144.416667,8.120250e+05,22.033333,6134.0
22,Denmark,1995.0,77.000000,4.074250e+05,19.927500,37841.0
23,Ecuador,1995.0,45.500000,8.300469e+05,5.685000,2453.0
24,El Salvador,1995.0,51.666667,4.030331e+05,13.265833,1845.0
25,Estonia,1995.0,49.500000,1.130542e+05,45.265833,3224.0
26,Finland,1995.0,115.666667,3.984417e+05,27.080000,28068.0
27,France,1995.0,984.916667,4.544042e+06,24.385000,29363.0
28,Georgia,1995.0,11.500000,3.675708e+05,3.395000,611.0
29,Germany,1995.0,1074.000000,6.462292e+06,19.465000,33420.0
...,...,...,...,...,...,...
48,Mauritius,1995.0,12.250000,8.182500e+04,15.220833,4115.0
49,Mexico,1995.0,239.750000,6.660592e+06,4.924167,4505.0
50,Netherlands,1995.0,125.916667,1.206167e+06,10.418333,30850.0
51,New Zealand,1995.0,45.416667,2.811500e+05,16.618333,18945.0
52,Norway,1995.0,45.666667,3.379917e+05,13.029167,37483.0
53,Paraguay,1995.0,9.833333,3.397298e+05,3.360833,2223.0
54,Poland,1995.0,458.250000,3.008742e+06,15.141667,3937.0
55,Portugal,1995.0,67.416667,7.894870e+05,10.744167,12469.0
56,Puerto Rico,1995.0,24.083333,2.812628e+05,10.072500,12636.0
57,Qatar,1995.0,0.000000,3.862075e+04,0.000000,17559.0
58,Republic of Korea,1995.0,403.416667,3.506367e+06,14.940000,13217.0
59,Romania,1995.0,232.750000,1.787608e+06,13.015000,1756.0
60,Russian Federation,1995.0,5045.666667,1.159059e+07,45.615000,2844.0
61,Saint Lucia,1995.0,0.833333,1.078883e+04,6.809167,4947.0
62,Saint Vincent and Grenadines,1995.0,0.583333,7.997833e+03,7.117500,3293.0
63,Singapore,1995.0,30.333333,2.304417e+05,23.563333,31783.0
64,Slovakia,1995.0,61.250000,4.171027e+05,16.558333,5141.0
65,Slovenia,1995.0,47.000000,1.570000e+05,32.822500,11291.0
66,Spain,1995.0,263.083333,3.106275e+06,10.317500,16444.0
67,Suriname,1995.0,4.583333,3.245117e+04,15.210000,1782.0
68,Sweden,1995.0,112.333333,6.860833e+05,15.976667,32072.0
69,Switzerland,1995.0,118.250000,5.514583e+05,23.589167,51774.0
70,Thailand,1995.0,353.750000,4.530505e+06,7.793333,3114.0
71,Trinidad and Tobago,1995.0,15.333333,9.576442e+04,20.244167,4637.0
72,Turkmenistan,1995.0,20.333333,3.181833e+05,7.536667,650.0
73,Ukraine,1995.0,1211.750000,4.034608e+06,33.055833,996.0
74,United Kingdom,1995.0,359.583333,4.562247e+06,7.695000,24389.0
75,United States,1995.0,2606.000000,2.026368e+07,14.424167,31518.0
76,Uruguay,1995.0,35.583333,2.453180e+05,19.828333,6555.0
77,Uzbekistan,1995.0,123.750000,1.633250e+06,9.275000,681.0